.pop {
    animation: pop 0.2s ease-out;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

aside img {
    width: 50px;
    height: 50px;
}

overflow-x: scroll;
white-space: nowrap;
display: flex;

#latest-films-container, #latest-series-container, #classic-container {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
}